<div class="col-xs-9">
	<canvas
			id="hBarChart"
			class="chart-horizontal-bar"
			chart-data="data"
			chart-labels="labels"
			chart-series="series"
			chart-options="options"
			chart-colors="colors">
	</canvas>
</div>

<div class="col-xs-3">
<table class="table table-bordered" id="dataTable">
	<tr>
		<th></th>
		<th ng-repeat="label in labels" ng-bind="label"></th>
	</tr>
	<tr>
		<td ng-bind="series[0]"></td>
		<th ng-repeat="datapoint in data[0]" ng-bind="datapoint"></th>
	</tr>
	<tr>
		<td ng-bind="series[1]"></td>
		<th ng-repeat="datapoint in data[1]" ng-bind="datapoint"></th>
	</tr>
</table>

<button class="btn btn-success" ng-click="saveToPDF()">Save PDF <i class="glyphicon glyphicon-download-alt"></i></button>
</div>