
<div class="col-xs-9" style="background-color: white">
	<canvas
			id="pieChart"
			class="chart chart-pie"
			chart-data="data"
			chart-labels="labels"
			chart-options="options"
			chart-colors="colors">
	</canvas>
</div>

<div class="col-xs-3">
<table class="table table-bordered" id="dataTable">
	<tr>
		<th ng-repeat="label in labels" ng-bind="label"></th>
	</tr>
	<tr>
		<th ng-repeat="datapoint in data" ng-bind="datapoint"></th>
	</tr>
</table>

	<button class="btn btn-success" ng-click="saveToPDF()">Save PDF <i class="glyphicon glyphicon-download-alt"></i></button>

</div>