<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
	    <li ui-sref-active="active"><a ui-sref="staticReports.offline">Offline vs. Online Bookings</a></li>
	    <li ui-sref-active="active"><a ui-sref="staticReports.spendlob">Spend Across LOBs</a></li>
	    <li ui-sref-active="active"><a ui-sref="staticReports.bookings">Booking Metrics</a></li>
	  </ul>
	</div>
	 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view="">
	 </div>
</div>
